.dashboard {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(43, 41, 41);
    background-image:
        url("../../images/welcome_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: '98%';
    padding: '1%';
    min-height: 50%;
    height: 89vh;
}

.andares:hover .frenteCard {
    background-color: #32CD32;
    color: rgb(230, 72, 203);
    font-weight: 600;
}

.andares:hover .ladoCard {
    background-color: #32CD32;
}